.mm-listview .search {
  position: relative;
  height: 3.45rem;
}
.mm-listview .search input {
  position: absolute;
  top: 0;
  left: 0;
  background: inherit;
  width: 100%;
  padding-left: 4%;
  height: 100%;
  border: 0;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 90%;
  letter-spacing: 0.0252rem;
}
.mm-listview .login {
  text-transform: initial;
  font-weight: 300;
}
.mm-listview .menu-item-nome {
  font-size: 100%;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  padding-bottom: 0px;
}
.mm-listview .no-drop .menu-item-nome {
  font-weight: 300;
}

.mm-menu {
  background: #fff;
}

.mm-panel_has-navbar .mm-navbar {
  display: none;
}

.mm-panel_has-navbar {
  padding-top: 0px;
}

@media (min-width: 769px) {
  .mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened ~ .mm-slideout {
    transition: none;
    transform: none;
  }
}

.mm-listview {
  line-height: 30px;
}

.mm-menu .mm-listview .mm-btn_next:after {
  border-color: rgba(0, 0, 0, 0.8);
}

.mm-listitem_opened {
  background: rgba(255, 255, 255, 0.4);
}
