.flex {
  display: flex;
}

.flex-wrap {
  display: inline-flex;
  flex-flow: row wrap;
}

.section {
  width: 100%;
}

.row {
  display: inline-flex;
  flex-flow: row nowrap;
  width: 92%;
}
@media (min-width: 769px) {
  .row {
    width: 94%;
  }
}
@media (min-width: 1200px) {
  .row {
    width: 85.55%;
  }
}
@media (min-width: 1600px) {
  .row {
    width: 1170px;
  }
}

.panel {
  margin-top: 5.25rem;
}

.panel-body {
  margin-top: 1rem;
}

.topbar {
  position: fixed;
  height: 65px;
  width: 100%;
}

.m-page-wrap {
  position: relative;
  top: 65px;
}

.main-content-wrap {
  position: relative;
}

.m-menu-wrap {
  top: 65px;
}
