@import '../sets.scss';

.flex{
    display: flex;
}
.flex-wrap{
    display: inline-flex;
    flex-flow: row wrap;
}
.section{
    width: 100%;
}
.row{
    display: inline-flex;
    flex-flow: row nowrap;
    @include margin-main;
}
.panel{
    margin-top: 5.25rem;
}
.panel-body{
    margin-top: 1rem;
}
//mmenu topo scheme
.topbar{
    position: fixed;
    height: $topbarH;
    width: 100%;
}
.m-page-wrap{
    position: relative;
    top: $topbarH;
}
.main-content-wrap{
    position: relative;
}
.m-menu-wrap{
    top: $topbarH;
}