html {
  font-size: 16px; }

body {
  font-family: Oswald, helvetica, arial, sans-serif;
  color: #000;
  padding: 0;
  margin: 0;
  font-size: 100%; }

.topbar {
  position: fixed;
  height: 65px;
  width: 100%; }

.m-page-wrap {
  position: relative;
  top: 65px; }

.main-content-wrap {
  background: red;
  top: 65px; }

.m-menu-wrap {
  top: 65px; }
