.badge {
  font-size: 60%;
  font-weight: bold;
  background-color: #fb377f;
  color: #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}
.badge .count {
  position: relative;
  font-size: 90%;
}

.badge-tr {
  position: absolute;
  top: -14px;
  right: -14px;
}

.btn-panel {
  font-family: Open sans, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 90%;
  border: 1px solid #000;
  padding: 0.375rem 0.625rem;
}
