.destaque-a {
  overflow: hidden;
  width: 97.6%;
  max-height: 15rem;
  margin: 1.2% 0%;
}
.destaque-a:hover .destaque-img {
  transform: scale(1.1);
  transition: transform 0.6s linear;
}
.destaque-a .destaque-img {
  transform: scale(1);
  transition: transform 0.6s linear;
}
@media (min-width: 420px) {
  .destaque-a {
    max-height: none;
  }
}
@media (min-width: 992px) {
  .destaque-a {
    max-height: 17.40525rem;
  }
}

.border-hover {
  box-sizing: border-box;
  display: flex;
  border: 1px solid transparent;
}
.border-hover:hover {
  border: 1px solid #fb377f;
}
