.number {
  font-family: Open sans, sans-serif;
}

.panel-title, .panel-sub-title {
  margin-bottom: 0.625rem;
}

.panel-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 180%;
}

.panel-sub-title {
  font-family: Open sans, sans-serif;
  font-weight: 100;
}
