
//configs
@import 'reset.scss';
@import 'sets.scss';
//layout
@import 'layout/skell.scss';
@import 'layout/align.scss';
@import 'layout/topbar.scss';
@import 'layout/slider-main.scss';
//componentes
@import 'componentes/buttons.scss';
@import 'componentes/texts.scss';
@import 'componentes/effects.scss';

html{
    font-size: 16px;
}

body{
    font-family: Oswald, helvetica, arial, sans-serif;
    color: #000;
    padding: 0;
    margin: 0;
    font-size: 100%;
}

//invocar aqui caso precise de outros loops para outras funções do layout
@mixin call($size){
    @include align($size);
}

//RWD align
@each $size, $bk in $sizes{
    
    $bkp: map-get($bk, break);
    $maxW: map-get($bk, max);
            
    @if $size == sm or $size == mg  {
    
        // MIN-WIDTH E MAX-WIDTH
        @media(min-width: $bkp) and (max-width: $maxW) {

            //invocando align responsivo
            @include call($size);
        }
    }
    @else{

        // APENAS MIN-WIDTH
        @media(min-width: $bkp){
            
            //invocando align responsivo
            @include call($size);
        }
    }
}